/* Styles CSS */
:root {
  font-size: 16px;
}

html {
  font-size: 16px;
}

* {
  background-color: #ffffff;
  background-color: aqua;
  background-color: rgb(10, 255, 152);
  box-sizing: border-box;
  color: red !important;
}

body {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

p {
  background-color: beige;
}

.class {
  width: 5px;
}

div #id {
  position: relative;
}

a[title="Mon titre"] {
  position: absolute;
}

div,
span {
  color: red;
}

div>span {
  border: 5px;
}

div span {
  position: relative;
}

div+span {
  position: relative;
}

div~span {
  color: aliceblue;
}

div {
  background-color: aquamarine;
  background-image: url("https://picsum.photos/id/237/600/400");
  background-size: cover;
  height: 150px;
  max-width: 18px;
  min-height: 20px;
  min-width: 50px;
  width: 100px;
}